.root{
    position: relative;
} 
.input{   
    width: 400px;
    height: 35px;
    border-radius: 10px;
    padding:8px 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 1050px) {
        width: 200px;
    }
    @media (max-width: 420px) {
        width: 100px;
        &::-webkit-input-placeholder {
            color: transparent;
        }
        &::-moz-placeholder {
            color: transparent;
        }
        &:-ms-input-placeholder {
            color: transparent;
        }
        &::-ms-input-placeholder {
            color: transparent;
        }
        &::placeholder {
            color: transparent;
        }
    }
}
.input:focus{
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 450px; 
    @media (max-width: 1050px) {
        width: 160px;
    }
}
.iconSearch{
    position: absolute;
    top: 3px;
    left: 0;
    opacity: 0.5;
    width: 30px;
    height: 30px;
}
.iconClear{
    opacity: 0.5;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
